<!DOCTYPE html>
<html>
  <head>
    <title>러시아 소녀들을 만나는 소셜 네트워크 - QR SPICY</title>

    <meta charset="utf-8">
    <meta name="description" content="채팅하고, 선물을 주고, 사진과 비디오를 공유하고, 레벨을 높이고, 흥미로운 소녀들을 만나세요!">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="icons/logo.png">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
